$white: #fff;
$black: #000;
$light-text: #f2f2f2;
$primary: #038c33;
$secondary: #003412;
$btn-secondary: #add9bd;
$light-green-highlight: #8fbf26;
$light-primary: #1f6036;
$bold_primary: #003412;
$list_items: #6c757d;
$classes_bg: #f9fcfe;
$success_header: #d6e9f7;
