@import "./colors";
@import "./helpers";

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .nav {
    nav {
      // padding: 1rem 1rem;
    }
  }

  .features_inner {
    .features_flexbox_inner {
      gap: 0.5rem;
      margin: 0;
      .white_box {
        width: 90%;
        &_inner {
          width: 100%;
          .bottom_text {
            padding: 0;
            width: 20rem;
          }
        }
      }
    }
  }
  //
  .classes_inner {
    .classes_top {
      .header_details {
        p {
          padding: 0 4rem;
        }
      }
    }
  }

  //

  .find_out_inner {
    .find_out_quotes {
      p {
        padding: 0 1rem;
      }
    }

    .find_out_image {
      .play {
        img {
          left: 45%;
        }
      }
    }
  }

  //

  .stories_inner {
    .stories_quotes {
      p {
        padding: 0 5rem;
      }
    }
  }

  .instructors_inner {
    .quotes {
      p {
        padding: 0 5rem;
      }
    }

    .instructors_img_sec {
      gap: 0.4rem;

      .img_box {
        img.instructor {
          width: 80%;
        }
      }
    }
  }
  //
  .contact_inner {
    .form_sec {
      form {
        .top_form {
          grid-template-columns: 100% 100%;
          gap: 1rem;
          input {
            width: 100%;
          }
        }

        .bottom_form {
          input {
            width: 50rem;
          }
        }
      }
    }
  }

  //
  footer {
    .footer_inner {
      .logo_sec {
      }

      .footer_details_inner {
        .header_sec {
          h4 {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    nav {
      padding: 1rem 3rem;
    }
  }
}
@media screen and (max-width: 950px) {
  .container {
    padding: 0;
  }

  // NAV

  .nav {
    nav {
      padding: 1rem 0;
      justify-content: space-evenly;

      .items {
        ul {
          &.nav_list {
            gap: 1rem;
          }
        }
      }
    }
    .top_nav_inner {
      padding: 0.5rem 2rem;
    }
  }

  // HERO
  .hero_left_side {
    &_inner {
      padding: 0;
      position: relative;
      // inset: 0 -9rem;
    }
  }

  .learning_system {
    &_inner {
      flex-direction: column;

      .system {
        &_left_side {
          display: none;
        }
      }
    }
  }

  .features_inner {
    .features_text {
      width: 100%;
    }
    .features_flexbox_inner {
      .white_box {
        width: 80%;
        &_inner {
          width: 100%;
          .left_side_box {
            .circle {
              // display: none;
            }
          }

          .bottom_text {
            width: 20rem;
          }
        }
      }
    }

    //
  }

  .more_about_inner {
    padding: 3rem;
    .more_about_right {
      display: none;
    }
  }

  //
  .find_out_inner {
    .find_out_image {
      display: none;
    }
  }

  .contact_inner {
    .form_sec {
      form {
        .top_form {
          grid-template-columns: 85% 85%;
          gap: 0.5rem;
        }

        .bottom_form {
          input {
            width: 40rem;
          }
        }
      }
    }
  }

  // footer {
  //   overflow: hidden;
  //   .footer_inner {
  //     .logo_sec {
  //       p {
  //         width: 8rem;
  //       }
  //     }
  //   }
  // }
}
@media screen and (max-width: 768px) {
  .nav {
    nav {
      .items {
        ul {
          &.nav_list {
            gap: 1.5rem;
          }
        }
      }
    }
    .top_nav {
      // height: 4.5rem;
      &_inner {
        padding: 0.5rem 3rem;

        .left_top_nav {
          gap: 1.5rem;
        }

        .right_top_nav {
          gap: 1rem;
        }
      }
    }
  }

  //

  .features_inner {
    .features_text {
      p {
        padding: 0 2rem;
        width: 90%;
      }
    }
    .features_flexbox_inner {
      .white_box {
        &_inner {
          // margin: 0.1rem;
          // width: 14rem;
          // padding: 0.2rem;
          // gap: 0.1rem;

          .left_side_box {
            .circle {
              // display: none;
            }
          }

          .bottom_text {
            width: 20rem;
          }
        }
      }
    }
  }

  .more_about_inner {
    padding: 1rem;
  }

  .classes_inner {
    .classes_bottom {
      .classes_flexbox {
        display: grid;
        gap: 1rem;
      }
    }
  }

  //

  .stories_inner {
    .stories_header {
      margin-top: 2rem;
      h4 {
        font-size: 30px;
        text-align: left;
        margin-inline-start: 9.5rem;
      }
    }

    .stories_img_sec_inner {
      position: relative;
      justify-content: start;
      inset: 0 8rem;
    }
  }

  //
  .instructors_inner {
    h4 {
      font-size: 30px;
    }

    .instructors_img_sec {
      flex-direction: column;

      .img_box {
        img.instructor {
          width: 100%;
        }
      }
    }
  }

  //
  .contact_inner {
    .form_sec {
      form {
        .top_form {
          grid-template-columns: 25rem;
          gap: 0.5rem;
          input {
            width: 100%;
          }
        }

        .bottom_form {
          input {
            width: 20rem;
          }
        }
      }
    }
  }

  footer {
    display: grid;
    .footer_inner {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  .nav {
    nav {
      display: flex;
      justify-content: space-between;
      padding-inline: 2rem;

      .items {
        ul {
          &.nav_list {
            display: none;
          }
        }
      }
      button {
        display: none;
      }
      .hamburger {
        all: unset;
        display: block;
        z-index: 10;

        .burger {
          margin-bottom: 0.4rem;
        }
      }
    }
    .top_nav {
      // TODO HAMBURGER MENU
      display: none;
      &_inner {
        // padding: 0.5rem 3rem;

        .left_top_nav {
          gap: 1.5rem;
        }

        .right_top_nav {
          gap: 1rem;
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .nav {
    nav {
      .items {
        ul {
          &.nav_list {
            display: none;
          }
        }
      }
    }
    .top_nav {
      // TODO HAMBURGER MENU
      display: none;
      &_inner {
        padding: 0.5rem 3rem;

        .left_top_nav {
          gap: 1.5rem;
        }

        .right_top_nav {
          gap: 1rem;
        }
      }
    }
  }
}
