@import "./colors";
@import "./helpers";

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.find_out {
  &_inner {
    text-align: center;
    .find_out {
      &_header {
        h4 {
          font-family: Lato;
          font-size: 40px;
          font-weight: 700;
          line-height: 46px;
          letter-spacing: 0em;
          color: $primary;
        }
      }

      &_quotes {
        p {
          color: $list_items;
          padding: 0 21rem;
        }
      }

      &_image {
        margin: 0;
        padding: 0;
        .play {
          img {
            position: absolute;
            top: -20rem;
            left: 38rem;
            z-index: 100;
            width: 10rem;
            height: 10rem;
            // display: none;
          }
        }
        .image_box {
          background: rgba(3, 140, 51, 0.76);
          margin: 0 16rem;
          overflow: hidden;
          height: 30rem;
          img {
            height: 33rem;
            width: 100%;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
