@import "./colors";
@import "./helpers";

* {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.main_container {
  section {
    &.learning_system_sec {
      display: block;
    }
    &.features_sec {
      display: block;
    }
    &.more_about_sec {
      display: block;
    }
    &.classes_sec {
      display: block;
    }
    &.find_out_sec {
      display: block;
    }
    &.stories_sec {
      display: block;
    }
    &.instructors_sec {
      display: block;
    }
    &.contact_us_sec {
      display: block;
    }
    &.footer_sec {
      display: block;
    }
  }
}
